#interest-search {
	width:77%;
	min-height:500px;
	height:100%;
	float:right;
	text-align:center;
}

#interest_input {
	width:400px;
	text-align:center;
}

#interest_query {
	width:100%;
	text-align:center;
}

#interest-relevance {
	margin-top:10px;
	width:300px;
	position:relative;
	left:210px;
}